*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e4;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255,255,255,0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao{
    position: fixed;
    top: 0;
    background-color: rgba(15,23,42,0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;

    }

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;

}

.menu_link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu_link::after{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s  ease;
}

.menu_link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto_perfil{
    width: 150px;
    height: 150px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1{
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.desc_cabecalho{
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre{
    padding: 6rem 2rem;
}

.sobre_titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre_caixa{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 26px;
    border: solid 1px var(--vidro);
    background-color: var(--vidro);
}

.sobre_paragrafo{
    color: white;
    text-align: justify;
    font-size: 1.2rem;
   
}

.projetos{
    padding: 6rem 2rem;
}

.projetos_titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos_card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
    transition: 0.5s ease;
    cursor: pointer;
}

.projetos_div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.projetos_card{
    background: rgba(255, 255 ,255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
}

.projetos_imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info_projetos{
    margin-bottom: 5px;
}

.caixa_textos_projetos{
    padding: 2rem;
}

.desc_projetos{
    color: rgba(226,232,240,0.8);
    line-height: 1.25rem;
}


.contatos{
    padding: 6rem 2rem;
}

.contatos_titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario_contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255 ,255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
    
}

.campo_form{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255 ,255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo_form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.2);

}

.grupo_form{
    margin-bottom: 1.5rem;
}

.botao_form{
    color:var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0,5 ease;
}

.botao_form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
    transition: 0.3s ease;
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 30%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 30%),
    var(--maisEscuro);
}

@keyframes flutuar{
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20%);
    }
}